* {
    box-sizing: border-box;
  }
  .columnl {
    float: left;
    width: 60%;
    padding: 10px;
    height: 300px;
    margin-top: 65px;
    padding-right: 100px;
  }
  .row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap; 
  flex-wrap: wrap;
  padding: 0 4px;
  }
  .columnr {
    float: right;
    width: 40%;
    padding: 10px;
    height: 300px;
    margin-top: 65px;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .columnl img {
    vertical-align: middle;
    width: 100%;
  }
  @media screen and (max-width: 600px) {
  .row {
        flex-direction: column-reverse;
  }
  .columnl {
      width: 100%;
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
      float: none;
      vertical-align: text-top;
      width: 100%;
      order: 1;
      padding: 0;
      margin: 0;
      }
  .columnr {
      width: 100%;
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
      order: 2;
      }
  }
  p{
      line-height: 26px;
  }